.dashboard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dashboard .profile-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  padding: 35px;
}

.dashboard .profile-nav:hover {
  cursor: pointer;
}

.dashboard .profile-nav p {
  margin: 0;
  padding-right: 20px;
  padding-left: 12px;
}

.dashboard .profile-nav p:hover {
  color: #ffb401;
  cursor: pointer;
}

.dashboard .profile-nav .ant-dropdown {
  top: 49px !important;
}

.dashboard .profile-nav img {
  width: 40px;
  height: 40px;
}

.menu-admin {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  transition: color 0.3s;
  cursor: pointer;
  border: none;
}

.menu-admin:hover {
  color: #ffb401;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
}

.profile-header .img-user {
  margin-bottom: 20px;
}

.profile-header h6 {
  font-size: 18px;
  font-weight: 700;
  color: #1c273c;
  margin-bottom: 0;
}
/* ffb401 */

/* .profile-header .ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item:hover {
  color: #ffb401 !important;
} */
.profile-menu .ant-dropdown-menu-item:hover,
.profile-menu .ant-dropdown-menu-item a:hover {
  color: #ffb401;
}
.profile-menu .ant-dropdown-menu-item a:hover {
  text-decoration: none !important;
}

.profile-menu .ant-dropdown-menu-item {
  padding: 10px;
}
