.preview-list {
  display: flex;
  max-width: 250px;
  width: 130px;
  margin-top: 20px;
}

.preview-img {
  margin-right: 10px;
}

.preview-img img {
  max-width: 100%;
}

.img-list {
  max-width: 400px;
  width: 350px;
  margin-top: 0;
}
