.ais-SearchBox-input {
  background-color: #fff;
  border-radius: 8px;
  height: 40px;
}
.ais-Hits {
  position: absolute;
  background-color: #ffffff;
}

.responsive-alogia-search .ais-Hits {
  position: relative;
}

.ais-Hits-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ais-Hits-item {
  border: none;
  width: 100%;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding: 0 !important;
}
.ais-Hits-item a:hover {
  text-decoration: none;
}
.hit {
  color: #21243d;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}
.hit:hover {
  background: rgb(255, 180, 0, 1);
  cursor: pointer;
}
.hit h1 {
  font-size: 14px;
}

.hit-category {
  color: #21243d;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 8px;
  opacity: 0.7;
  text-transform: uppercase;
}

.hit-description {
  margin-top: 2px;
}

.hit-info-container {
  overflow-wrap: break-word;
  word-break: break-word;
}

.hit-image-container {
  align-items: center;
  display: flex;
  height: 70px;
  justify-content: center;
  margin: auto;
  width: 70px;
}

.hit-image {
  height: auto;
  max-height: 100%;
  max-width: 100%;
}

.algolia-result {
  font-size: 12px;
}
.query-output {
  color: red;
  font-weight: 600;
}

.ais-SearchBox-input {
  border-radius: 0;
}
.ais-SearchBox-input::placeholder {
  font-weight: 600;
  color: rgb(85, 85, 85);
}

.ais-Pagination-link {
  color: black;
}

.ais-Pagination-link:hover {
  color: #ffb400;
}

.ais-Pagination-item--selected .ais-Pagination-link {
  background-color: #ffb400 !important;
  border-color: #ffb400 !important;
}

.ais-Pagination-item:hover {
  color: #ffb400;
}
