.footer {
  background: #ffffff;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(1, 1fr);
  padding: 20px;
}
.footer .footer-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.footer .footer-links .link h3 {
  color: #000000;
  text-transform: uppercase;
}
.footer .footer-links .link ul {
  list-style: none;
  padding: 0;
}
.footer .footer-links .link ul .link-mail a {
  color: #000000;
}

.footer .footer-links .link ul li,
.footer .footer-links .link ul li a {
  color: #ffb401;
}
