.inquire-content .form-group .form-label:after {
  content: '*';
  color: red;
  margin-left: 5px;
}

.breadcrumb-container {
  background: #f2f2f2;
  padding: 10px;
}
.breadcrumb-link {
  margin: 0 auto;
  max-width: 1200px;
}
