@import '~antd/dist/antd.css';
@import '~react-image-gallery/styles/css/image-gallery.css';

* {
  box-sizing: border-box;
}

.content-main {
  margin: 100px auto;
  padding: 20px;
}

.btn-custom {
  background-color: #ffb400 !important;
  color: white !important;
}
.btn-md {
  text-transform: uppercase;
  font-weight: 600 !important;
}
.btn-md:hover {
  text-decoration: underline !important;
}
.inquiry-btn {
  background-color: #ffb400 !important;
  border-color: #fff !important;
  text-transform: uppercase;
  font-weight: 600 !important;
}
.order-btn {
  background-color: #1a1a1a !important;
  border-color: #1a1a1a !important;
  text-transform: uppercase;
  font-weight: 600 !important;
}
.inquiry-btn:hover,
.order-btn:hover {
  text-decoration: underline !important;
}
.inquiry-btn:disabled,
.order-btn:disabled {
  text-decoration: none !important;
}

/* Admin */

.admin-container .ant-layout-sider {
  border-right: 1px solid #eeeeee;
}

.layout-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
  margin-top: 50px;
}

.modal-toggle {
  padding: 20px;
}

.ant-result-icon {
  display: none;
}

.ais-SearchBox {
  margin: 1em 0;
}
.ais-Pagination {
  margin-top: 1em;
}
.left-panel {
  float: left;
  width: 250px;
}
.right-panel {
  margin-left: 260px;
}
.ais-InstantSearch {
  max-width: 960px;
  overflow: hidden;
  margin: 0 auto;
}
.ais-Hits-item {
  margin-bottom: 1em;
  width: calc(50% - 1rem);
}
.ais-Hits-item img {
  margin-right: 1em;
}
.hit-name {
  margin-bottom: 0.5em;
}
.hit-description {
  color: #888;
  font-size: 14px;
  margin-bottom: 0.5em;
}

.btn:disabled {
  text-decoration: none !important;
}
